#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table th {
  background: #fff;

  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

